<h2>Ranking global</h2>

<table class="tabla">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Sesiones</th>
      <th>Distancia (km)</th>
      <th>Calorías</th>
    </tr>
  </thead>
  <tbody>
    <% ranking.forEach((u, i) => { %>
      <tr class="<%= u.id === usuario.id ? 'fila-propia' : '' %>">
        <td>
          <% if (i === 0) { %>
            <i class="ti ti-medal" style="color:#f0a500"></i>
          <% } else if (i === 1) { %>
            <i class="ti ti-medal" style="color:#aaa"></i>
          <% } else if (i === 2) { %>
            <i class="ti ti-medal" style="color:#cd7f32"></i>
          <% } else { %>
            <%= i + 1 %>
          <% } %>
        </td>
        <td><%= u.nombre %> <%= u.id === usuario.id ? '(tú)' : '' %></td>
        <td><%= u.dataValues.total_sesiones || 0 %></td>
        <td><%= parseFloat(u.dataValues.total_distancia || 0).toFixed(2) %></td>
        <td><%= u.dataValues.total_calorias || 0 %></td>
      </tr>
    <% }) %>
  </tbody>
</table>